In [1]:
import pandas as pd
PmiResults = pd.read_csv('NA_Checked_Lemma_NPMI2_10.csv', sep='\t')
PmiResults

,word1,attr1,word2,attr2,word1 freq,word2 freq,bigram freq,score trimmed,distance,similarity,period,genre,combined,url
0,Aššur[1]DN,[?],iššiakku[city-ruler]N,[?],2246,193,364,0.553,1.242,0.684,NaN,NaN,NaN,https://korp.csc.fi/test-as/?mode=other_langua...
1,Aššur[1]DN,[?],Ištar[1]DN,[?],2246,1040,504,0.329,4.127,0.707,NaN,NaN,NaN,https://korp.csc.fi/test-as/?mode=other_langua...
2,Aššur[1]DN,[?],Enlil[1]DN,[?],2246,456,278,0.274,2.579,0.649,NaN,NaN,NaN,https://korp.csc.fi/test-as/?mode=other_langua...
3,Aššur[1]DN,[?],Mullissu[1]DN,[?],2246,297,207,0.253,2.391,0.490,NaN,NaN,NaN,https://korp.csc.fi/test-as/?mode=other_langua...
4,Aššur[1]DN,[?],ilu[god]N,[?],2246,3545,668,0.235,3.749,0.601,NaN,NaN,NaN,https://korp.csc.fi/test-as/?mode=other_langua...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3989,ṭēmu[(fore)thought]N,[?],muhhu[skull]N,[?],690,3507,171,0.109,4.164,0.426,NaN,NaN,NaN,https://korp.csc.fi/test-as/?mode=other_langua...
3990,ṭēmu[(fore)thought]N,[?],harṣu[broken-off]AJ,[?],690,13,10,0.106,2.300,0.106,NaN,NaN,NaN,https://korp.csc.fi/test-as/?mode=other_langua...
3991,ṭēmu[(fore)thought]N,[?],muterru[(re)turner]N,[?],690,44,15,0.086,1.000,0.137,NaN,NaN,NaN,https://korp.csc.fi/test-as/?mode=other_langua...
3992,ṭēmu[(fore)thought]N,[?],alāku[go]V,[?],690,3964,142,0.085,4.556,0.379,NaN,NaN,NaN,https://korp.csc.fi/test-as/?mode=other_langua...
3993,ṭēmānu_AJ[wise]AJ,[?],libbu[interior]N,[?],1,4805,2,0.029,8.000,0.029,NaN,NaN,NaN,https://korp.csc.fi/test-as/?mode=other_langua...

In [2]:
#make a df of only word 1
s1 = PmiResults[['word1']]
s1

                     word1
0               Aššur[1]DN
1               Aššur[1]DN
2               Aššur[1]DN
3               Aššur[1]DN
4               Aššur[1]DN
...                    ...
3989  ṭēmu[(fore)thought]N
3990  ṭēmu[(fore)thought]N
3991  ṭēmu[(fore)thought]N
3992  ṭēmu[(fore)thought]N
3993     ṭēmānu_AJ[wise]AJ

[3994 rows x 1 columns]

In [3]:
#make a df of only word2
s2 = PmiResults[['word2']]
s2

                      word2
0     iššiakku[city-ruler]N
1                Ištar[1]DN
2                Enlil[1]DN
3             Mullissu[1]DN
4                 ilu[god]N
...                     ...
3989          muhhu[skull]N
3990    harṣu[broken-off]AJ
3991   muterru[(re)turner]N
3992             alāku[go]V
3993       libbu[interior]N

[3994 rows x 1 columns]

In [4]:
#rename s2 columne to 'word1'
s2.columns = ['word1']
s2

                      word1
0     iššiakku[city-ruler]N
1                Ištar[1]DN
2                Enlil[1]DN
3             Mullissu[1]DN
4                 ilu[god]N
...                     ...
3989          muhhu[skull]N
3990    harṣu[broken-off]AJ
3991   muterru[(re)turner]N
3992             alāku[go]V
3993       libbu[interior]N

[3994 rows x 1 columns]

In [5]:
Nodes = pd.concat([s1, s2], ignore_index=True)
Nodes

                     word1
0               Aššur[1]DN
1               Aššur[1]DN
2               Aššur[1]DN
3               Aššur[1]DN
4               Aššur[1]DN
...                    ...
7983         muhhu[skull]N
7984   harṣu[broken-off]AJ
7985  muterru[(re)turner]N
7986            alāku[go]V
7987      libbu[interior]N

[7988 rows x 1 columns]

In [6]:
#appends the original 'word2' column below the 'word1' column
#Nodes = s1.append(s2, ignore_index=True)
#Nodes

In [7]:
#remove duplicates
Nodes = Nodes.drop_duplicates(subset=['word1'], keep='last')
Nodes

                                   word1
26                          Lamaštu[1]DN
37                   Ušumgallu[dragon]DN
38                     abru[strong-one]N
118                      ahurrû[junior]N
171   ariru[(a-priest-uttering-curses)]N
...                                  ...
7983                       muhhu[skull]N
7984                 harṣu[broken-off]AJ
7985                muterru[(re)turner]N
7986                          alāku[go]V
7987                    libbu[interior]N

[2207 rows x 1 columns]

In [8]:
#re-order the index to start from 1
Nodes = Nodes.reset_index(drop=True)
Nodes

                                   word1
0                           Lamaštu[1]DN
1                    Ušumgallu[dragon]DN
2                      abru[strong-one]N
3                        ahurrû[junior]N
4     ariru[(a-priest-uttering-curses)]N
...                                  ...
2202                       muhhu[skull]N
2203                 harṣu[broken-off]AJ
2204                muterru[(re)turner]N
2205                          alāku[go]V
2206                    libbu[interior]N

[2207 rows x 1 columns]

In [9]:
#add ID column (the row index plus one)
#Nodes['Label'] = Nodes.index + 1
Nodes['Id'] = Nodes.index + 1
Nodes

                                   word1    Id
0                           Lamaštu[1]DN     1
1                    Ušumgallu[dragon]DN     2
2                      abru[strong-one]N     3
3                        ahurrû[junior]N     4
4     ariru[(a-priest-uttering-curses)]N     5
...                                  ...   ...
2202                       muhhu[skull]N  2203
2203                 harṣu[broken-off]AJ  2204
2204                muterru[(re)turner]N  2205
2205                          alāku[go]V  2206
2206                    libbu[interior]N  2207

[2207 rows x 2 columns]

In [10]:
#rename word1 colum as 'label'
Nodes.columns = ['Label','Id']
Nodes

                                   Label    Id
0                           Lamaštu[1]DN     1
1                    Ušumgallu[dragon]DN     2
2                      abru[strong-one]N     3
3                        ahurrû[junior]N     4
4     ariru[(a-priest-uttering-curses)]N     5
...                                  ...   ...
2202                       muhhu[skull]N  2203
2203                 harṣu[broken-off]AJ  2204
2204                muterru[(re)turner]N  2205
2205                          alāku[go]V  2206
2206                    libbu[interior]N  2207

[2207 rows x 2 columns]

In [11]:
#reorder columns (Id, then Label)
Nodes = Nodes[['Id', 'Label']]
Nodes

        Id                               Label
0        1                        Lamaštu[1]DN
1        2                 Ušumgallu[dragon]DN
2        3                   abru[strong-one]N
3        4                     ahurrû[junior]N
4        5  ariru[(a-priest-uttering-curses)]N
...    ...                                 ...
2202  2203                       muhhu[skull]N
2203  2204                 harṣu[broken-off]AJ
2204  2205                muterru[(re)turner]N
2205  2206                          alāku[go]V
2206  2207                    libbu[interior]N

[2207 rows x 2 columns]

In [12]:
#remove duplicates
#Nodes = Nodes.drop_duplicates(subset=['Label'], keep='last')
#Nodes

In [13]:
#save as a .csv file
savefile =  'NodeListCheckedLemmaNADN.csv'
with open('output/' + savefile, 'w', encoding="utf-8") as w:
    Nodes.to_csv(w, index=False)